SPECIFICATION Spec

CONSTANT

Machine  = { M1 }
Observer = { O1 }
Client   = { C1 }
Zzz      = { Z1 }

InitObserver = { O1 }

\* CrashObserver = { O1 }

NIL = NIL
O1 = O1
O2 = O2
O3 = O3
M1 = M1
C1 = C1
Z1 = Z1

\* REQUIRES GracePeriod > BeaconPeriod
GracePeriod = 15
BeaconPeriod = 5
QueryTimeout = 30

SYMMETRY Perms

INVARIANT
  ClaimDeathWhenCertain

VIEW
  SearchView \* for swimlane bug

CONSTRAINT
  LimitMachineOBuf
