SPECIFICATION Spec

SYMMETRY \* DISABLE for liveness
  Perms

VIEW
  SearchView \* for swimlane bug

INVARIANT
  Consistency
  TypeInvariant

(*
PROPERTIES \* used for lifeness here, DISABLE SYMMETRY!
  WillCompleteWr
*)

CONSTANT

\* POPULATION
Key = { K }
Client = { X, Y }
Replica = { A, B }

\* LIFECYCLE CONTROL
\* boot replica B
\* InitDownReplica = { B }
\* StartReplica = { B }

CrashClient = { X }
CrashReplica = { A }

\* join specific
InitSponsor = A

MaxLClock = 5

\* MISC

NIL = NIL
Nil = Nil

X = X
Y = Y
A = A 
B = B
C = C

